

<!-- part 2: display a list -->
<h2>My Heroes</h2>
<ul class="heroes">
    <!-- repeater directive: makes instances of a host element (here, li) for each prop element in a list (each hero in the heroes we pass in) -->
    <!-- click event binding: when bound, it listens for a click and executes whatever expression is specified, such as a function -->
    <!-- class binding: adds a class when an expression evaluates to true, such as the hero passed in being equal to selectedHero -->
    <!-- splitting element declarations like this is fine, and useful for elements with lots of things bound to them -->
    <li *ngFor="let hero of heroes" 
    (click)="onSelect(hero)" 
    [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>